* {
  box-sizing: border-box;
  font-family: Segoe UI, Arial
}

body {
  background: #f3f4f6;
  padding: 30px
}

.container {
  max-width: 900px;
  margin: auto;
  background: #fff;
  padding: 25px;
  border-radius: 14px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, .1)
}

h2 {
  text-align: center;
  margin-bottom: 20px
}

table {
  width: 100%;
  border-collapse: collapse
}

thead {
  background: #4f46e5;
  color: #fff
}

th,
td {
  padding: 12px
}

tbody tr:nth-child(even) {
  background: #f9fafb
}

.actions button {
  margin-right: 6px;
  padding: 6px 10px;
  border: none;
  border-radius: 6px;
  cursor: pointer
}

.edit {
  background: #10b981;
  color: #fff
}

.delete {
  background: #ef4444;
  color: #fff
}

/* Modal */
.modal {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, .4);
  display: none;
  align-items: center;
  justify-content: center
}

.modal-box {
  background: #fff;
  padding: 20px;
  border-radius: 12px;
  width: 320px
}

.modal-box input {
  width: 100%;
  padding: 10px;
  margin-top: 10px
}

.modal-box button {
  margin-top: 12px;
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 8px
}

.save {
  background: #4f46e5;
  color: #fff
}

.cancel {
  background: #e5e7eb
}